body {
    width: 100%;
    margin: 0px;
    background-color: #F0F0EB;
}

.nav01 {
    background-color: #F0F0EB;
    width: 100%;
    height: 10%;
    content: "";
    display: table;
    clear: both;
}

.name {
    float: left;
    font-size: 25px;
    color: #009879;
    margin-left: 30px;
    padding: 15px 0px 15px 0px;
    font-family: 'Montserrat';
}

.nav02 {
    width: 100%;
    height: 200px;
    background-color: #009879;
}

.text01 {
    font-size: 50px;
    font-family: 'Montserrat SemiBold';
    color: white;
    padding: 40px;
    width: 36%;
}

.ul01 {
    float: right;
    list-style: none;
    margin-right: 150px;
    margin-bottom: 10px;
}

div ul li {
    display: inline-block;
}

ul a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Montserrat";
    text-transform: uppercase;
    margin-right: 70px;

    transition: all 250ms;
}

ul a:hover {
    color: #a1f0c1;
}

main {
    margin-left: 50px;
    font-family: "Montserrat";
}

main div {
    font-size: 20px;
}

.green {
    color: #009879;
    font-family: "Montserrat SemiBold";
}

.red {
    color: #dc2222;
    font-family: "Montserrat SemiBold";
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}





